*{
  box-sizing: border-box;
}

body,html {
  font-family: "Open Sans", sans-serif;
  background-color: #041d2c;
  margin: 0;
  padding: 0;
}

.main{
  display: grid;
  margin: 5%;
  margin-top: 2vw;
  grid-template-columns: 30% 70%;
  background-color: #41a3ff17;
 align-items: flex-start;
}

/* 
Formulario
 */

.form_box {
  width: 100%;
  background-color: #eeeeee;
  border-radius: 8px;
}

.nav_form {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  font-size: 20px;
  background-color: #2c97de;
  color: #ffffff;
  border-radius: 8px 8px 0 0;
}


.form_box form {
  padding-left: 2%;
  padding-right: 2%;
}

.form_box input[type="text"] {
  width: 90%;
  margin-left: 2%;
  margin-bottom: 2%;
  padding: 8px 20px;
  border: 1.8px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.2s;
  font-size: 1rem;
  outline: none;
}

.form_box input[type=text]:focus {
  border: 1.8px solid #41a3ff;
}

.form_box p {
  font-size: 15px;
  color: #103c58;
  margin-bottom: 3%;
}

/* radio buttons  */
.radio_box {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  margin-bottom: 10px;
}

.radio_grid {
  display: grid;
  grid-template-columns: 40% 40%;
}

.radio_box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #dfdfdf;
  border-radius: 50%;
  transition: 0.25s;
}

.radio_box input:checked~.checkmark {
  background-color: #2c97de;
  box-shadow: 0px 0px 5px #2c97de;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.radio_box input:checked~.checkmark:after {
  display: block;
}


.radio_box .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

.botao_submit {
  background-color: #2c97de;
  border: 0;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-top: 5%;
  transition: 0.2s;
}

/* submit*/
.botao_submit:hover{
  background-color: #48adf0;
  font-size: 18px;
}

/* Conteiner List */

.conteiners{
  width: 95%;
  background-color: #41a3ff2a;
  border-radius: 8px;
  margin-left: 5%;
}

.nav_conteiners{
  width: 100%;
  height: 30px;
  font-size: 1.2vw;
  background-color: #2c97de;
  color: #ffffff;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.5fr 1.7fr 0.25fr 0.3fr 0.5fr 0.7fr;
}

.nav_conteiners_col{
  border-right: 1px solid #bdbdbd;
  overflow: hidden;
  text-align: start;
  padding-left: 5px;
  padding-top: 3px;
}

.conteiner_item{
  width: 100%;
  height: 30px;
  font-size: 1.2vw;
  font-family: 'M PLUS 1 Code', sans-serif;
  background-color: #e0e0e0;
  color: #000000;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.5fr 1.7fr 0.25fr 0.3fr 0.5fr 0.7fr;
}
.conteiner_item div{
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  overflow: hidden;
  text-align: start;
  padding-left: 5px;
  padding-top: 2px;
  align-items: center;
}


.conteiner_item_delete{
  color: #bb0000;
  font-size: 18px;
  margin-left: 0.5%;
  position: absolute;
  cursor: pointer;
}
.conteiner_item_add{
  color: #3990e0;
  font-size:22px;
  margin-left: 6.8%;
  position: absolute;
  cursor: pointer;
}
.drop_movi{
  color: #3990e0;
  font-size: 20px;
  margin-left: 6%;
  position: absolute;
  cursor: pointer;
}

.relatorio_box{
  font-family: "Open Sans", sans-serif;
    padding: 20px;
    font-size: 0.7vw;
    color: #ffffff;
    width: 95%;
  background-color: #41a3ff2a;
  border-radius: 8px;
  margin-left: 5%;
  margin-right: 5%;
    
}
.conteiner_relatorio{
  margin: 2px;
  width: 30%;
  font-family: 'M PLUS 1 Code', sans-serif;

  background-color: #103c58;
}


