  .edit_title {
    background-color: #2c97de;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    width: 100%;
  }

  .edit_content {
    background-color: #cecece42;
  }

  /*formulario*/


  .form_box input[type="text"] {
    width: 90%;
    margin-left: 2%;
    margin-bottom: 2%;
    padding: 8px 20px;
    border: 1.8px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.2s;
    font-size: 1rem;
    outline: none;
  }

  .form_box input[type=text]:focus {
    border: 1.8px solid #41a3ff;
  }

  .form_box p {
    font-size: 15px;
    color: #103c58;
    margin-bottom: 3%;
  }

  /* radio buttons  */
  .radio_box {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    margin-bottom: 10px;
  }

  .radio_grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .radio_box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

  }


  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #dfdfdf;
    border-radius: 50%;
    transition: 0.25s;
  }

  .radio_box input:checked~.checkmark {
    background-color: #2c97de;
    box-shadow: 0px 0px 5px #2c97de;
  }


  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }


  .radio_box input:checked~.checkmark:after {
    display: block;
  }


  .radio_box .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
  }

  .botao_submit {
    background-color: #2c97de;
    border: 0;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin-top: 5%;
    transition: 0.2s;
  }

  /* submit*/
  .botao_submit:hover {
    background-color: #48adf0;
    font-size: 18px;
  }